$size: 8px;
$color: var(--color-accent-sub);

#logo
{   
    font-size: $size;

    box-sizing: content-box;
    display: flex;

    border-radius: 100%;

    $width-and-height: 8em;
    min-width: $width-and-height;
    min-height: $width-and-height;
    max-width: $width-and-height;
    max-height: $width-and-height;

    position: relative;  
    overflow: hidden;
    transform: rotate(30deg);
}

.triangle
{
    position: absolute;
    
    width: 0;
    height: 0;

    border: 1.375em solid $color;
    border-left-color: transparent;
    border-bottom-color: transparent;

    transform: rotate(45deg);
    margin-left: 0.375em;
}

#logo > .triangle:first-child
{
    border: 1.375em solid transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;

    top: 1.25em;
    left: 4.75em;
}

#logo__text
{
    position: relative;
    color: transparent;
    font-size: 1.5em;
    font-weight: 700;
    font-style: italic;
    transform: translateX(-0.375em) translateY(+0.125em);
}

.text--aperture
{
    color: $color;
    font-size: 1.375em;
    letter-spacing: 1px;
}

.text--science
{
    height: 0em;
    color: $color;
    font-size: 0.625em;
    letter-spacing: 2px;
    transform: translateX(+0.25em) translateY(-0.5em);
}